        #paragraph99131433811 {
            border: 1px solid gray;
            padding: 5px;
            direction: ltr;
            text-align: left;
            position: absolute;
            width: 81px;
            height: 6px;
            left: 33px;
            top: 5px;
        }
        #div99131425989 {
            border: 1px dotted gray;
            margin-left: 6px;
            margin-top: 11px;
            position: absolute;
            left: 113px;
            top: 6px;
            width: 1110px;
            height: 156px;
        }

        #div9913142316 {
            border: 1px dotted gray;
            margin-left: 1px;
            margin-top: 6px;
            position: absolute;
            left: 988px;
            top: 202px;
            width: 297px;
            height: 26px;
        }

        #div99131416211 {
            border: 1px dotted gray;
            width: 100%;
            margin-left: 0px;
            margin-top: 2px;
            position: relative;
            left: 0px;
            top: 0px;
            height: 29.23%;
        }

        #div99131410821 {
            border: 1px dotted gray;
            width: 100%;
            position: relative;
            height: 64.87%;
        }

        #div9913141718 {
            border: 1px dotted gray;
            align-content: center;
            position: relative;
            width: 100%;
            height: 5%;
        }

        #div99131352114 {
            border: 1px dotted gray;
            position: absolute;
            left: 4px;
            top: 6px;
            width: 1293px;
            height: 822px;
        }
