.newsImg {
	position: relative;
	height: 100%;
	width: 100%;
}

.slide {
	width: 1200px;
	color: aqua;
	height: 600px;
	background-
}

.description {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 15%;
	background: #000;
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
	background: -ms-linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#4d000000', endColorstr='#cc000000', GradientType=0);
}

.logotip {
	width: 47px;
	height: 31px;
}

.tiitle {
	margin: auto;
	width: 70%;
	height: 80%;
	background-color: red;
}
.titile, h1{
	text-align: center;
}

.publishDate {
	position: relative;
	float: right;
	background-color: green;
	bottom: 35%;
	height: 35%;
	width: 20%;
}

.sours {
	position: relative;
	float: left;
	bottom: 35%;
	height: 35%;
	background-color: yellow;
	width: 20%;
}
